.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.title {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: background-color .1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.inactive {
  background-color: yellow;
  color: blue;
}

.active {
  background-color: green;
  color: white;
}

